body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 49px;
  background: linear-gradient(to left top,#78e7f3, #9bd7e8, #e8f6ca, #fdf8cf);
  background-attachment: fixed;
}
table,
td {
  border: 1px solid #333;
}

thead,
tfoot {
 
  color: black;
}
